/*
  Styles
*/

/****************
      General
*****************/
#container{
  width: 960px;
  margin: 0 auto;
}

body{
  margin: 0;
  border-top: 17px solid #090909;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-size: 12px;
  color: #5d5d5d;
  line-height: 20px;
}

a{
  text-decoration: none;
}

/****************
      Helpers
*****************/
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.bb-line{
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.titles-border{
  padding-bottom: 12px;
  border-bottom: 6px solid #090909;
}

.titles-arrows{
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 30px;
  margin-bottom: 30px;
  /* Manera 1 */
  /* background-image: url("../img/layout/arrow.png");
  background-repeat: no-repeat;
  background-position: left center; */

  /* Manera 2 */
  position: relative;
}
.titles-arrows:before{
  content: url('../img/layout/arrow.png');
  position: absolute;
  left: 4px;
}

.subTitle{
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.subTitle:before{
  content: url('../img/layout/arrow-small.png');
  position: absolute;
  left: 4px;
}

.color-orange{
  color: #fe9b00;
}

/****************
      Header
*****************/
#header{
  position: relative;
  margin-top: 20px;
}

.logo{
  float: left;
}

.correo{
  color: #999898;
  font-size: 13px;
  position: absolute;
  top: 18px;
  right: 0;
}

.menu{
  float: right;
  list-style: none;
  margin: 46px 0 0;
  padding: 0;
}

.menu li{
  display: inline;
  /* margin-left: 65px; */
}

/* .menu li:first-child{
  margin-left: 0;
} */

.menu li + li{
  margin-left: 65px;
}

.menu a{
  color: #fe9b00;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu a:hover,
.link-active{
  color: black !important;
}

/****************
      Slider
*****************/

/****************
      Content
*****************/
.box{
  width: 285px;
  float: left;
  margin-left: 52px;
}

.box:first-child{
  margin-left: 0;
}

#list-benifits{
  padding: 0;
  padding-left: 30px;
}

#list-benifits li{
  list-style: none;
  position: relative;
}
#list-benifits li p{
  margin: 0;
  line-height: normal;
}

#list-benifits li + li{
  margin-top: 20px;
}

#list-benifits li:before{
  position: absolute;
  content: url('../img/layout/check.png');
  top: 0;
  left: -30px;
}

#rafi-link{
  margin-top: 30px;
  color: #090909;
  font-size: 12px;
}
/****************
      Portfolio
*****************/
.portfolio-img{
  display: block;
  float: left;
}

.portfolio-img + .portfolio-img{
  margin-left: 34px;
}

/****************
      Info
*****************/
.info-box-left{
  width: 660px;
  float: left;
}

.info-box-right{
  width: 225px;
  float: right;
}
.info-box-right a + a{
  margin-left: 14px;
}
/****************
      Footer
*****************/
