/****************
      General
*****************/
.container{
  max-width: 960px;
  margin: 0 auto;
}

body{
  margin: 0;
  border-top: 17px solid #090909;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-size: 12px;
  color: #5d5d5d;
  line-height: 20px;
}

a{
  text-decoration: none;
}