/****************
      Content
*****************/

// contexto 960
// ancho  285
//  ancho / contexto x 100 = %


.box{
  width: 29%;
  float: left;
  margin-left: 5.4%;
}

.box:first-child{
  margin-left: 0;
}

#list-benifits{
  padding: 0;
  padding-left: 30px;
}

#list-benifits li{
  list-style: none;
  position: relative;
}
#list-benifits li p{
  margin: 0;
  line-height: normal;
}

#list-benifits li + li{
  margin-top: 20px;
}

#list-benifits li:before{
  position: absolute;
  content: url('../img/layout/check.png');
  top: 0;
  left: -30px;
}

#rafi-link{
  margin-top: 30px;
  color: #090909;
  font-size: 12px;
}