/****************
      Info
*****************/
.info-box-left{
  // 660 / 960 x 100 = 
  width: 68%;
  float: left;
}

.info-box-right{
  // 225 / 960 x 100 = 
  width: 23%;
  float: right;
}
.info-box-right a + a{
  margin-left: 14px;
}